.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-chatbot-kit-chat-container {
    position: relative;
    width: 400px;
  }
  
  .react-chatbot-kit-chat-inner-container {
    height: auto;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 15px;
    border-radius: 5px;
  }
  
  .react-chatbot-kit-chat-header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #efefef;
    font-family: Arial;
    display: flex;
    align-items: center;
    font-size: 0.85rem;
    color: #514f4f;
    padding: 12.5px;
    font-weight: bold;
    justify-content: center;
  }
  
  .react-chatbot-kit-chat-input-container {
    position: absolute;
    bottom: -15px;
    width: 100%;
    display: flex;
  }
  
  .react-chatbot-kit-chat-message-container {
    padding: 0 17.5px 10px 17.5px;
    overflow: scroll;
    width: auto;
  }
  
  .react-chatbot-kit-chat-input {
    width: 100%;
    padding: 12.5px;
    border: none;
    font-size: 0.85rem;
    border-top: 1px solid #d8d8d8;
    border-bottom-left-radius: 5px;
  }
  
  .react-chatbot-kit-chat-input-form {
    width: 100%;
    display: flex;
  }
  
  .react-chatbot-kit-chat-input::placeholder {
    color: #585858;
  }
  
  .react-chatbot-kit-chat-btn-send {
    background-color: #2898ec;
    width: 100px;
    border: none;
    color: #fff;
    border-bottom-right-radius: 5px;
  }
  
  .react-chatbot-kit-chat-btn-send-icon {
    fill: #fff;
    width: 15px;
  }
  
  .react-chatbot-kit-chat-bot-message {
    margin-left: 0px;
    width: max-content;
  }
  .app-chatbot-button{
    width:60px;
    height:60px;
    border-radius:35px;
    background-color:#0c5951;
    border:none;
    position:fixed;
    bottom:20px;
    z-index:9999;
    right:40px
  }

  .app-chatbot-button-icon{
    width:25px;
    height:25px;
    fill:#fff
  }
  .pop-invite{
    width:fit-content;
    position:fixed;
    bottom:30px;
    margin-right: 80px;
    z-index:9999;
    right:40px;
    background-color: #758f94;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #000000;
    font-weight: medium;
    text-align: left;
  }
  .pop-invite-arrow{
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #758f94;
    position: absolute;
    right: -7px;
    top: 13px;
  }